!!!
%html
  %head
    %title TonyBlack
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    /[if IE]
      %script{:src=>"http://html5shiv.googlecode.com/svn/trunk/html5.js"}
      
  %body
    %header= render :partial => "shared/header"
    %section.main
      / %aside.left-links Aside

      %article= yield
      %aside.right-links Aside
    %footer= render :partial => "shared/footer"
      